Imports

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
# os.chdir('C:/Users/Admin/Aditya Hegde/ML Project/NEO-Classification')

### File Ops

Rename all CSVs (in datasets)

In [2]:
files = os.listdir('datasets')

# Enumerate through the files and rename them with prefixes
for index, file_name in enumerate(files):
    # Generate the prefix (aa_, ab_, ac_, ...)
    prefix = chr(ord('a') + (index // 26)) + chr(ord('a') + (index % 26)) + "_"
    # Construct the new file name with the prefix
    new_file_name = prefix + file_name

    # Construct the full paths for the old and new names
    old_path = os.path.join('datasets', file_name)
    new_path = os.path.join('datasets', new_file_name)

    # Rename the file
    os.rename(old_path, new_path)
    print(f"Renamed: {file_name} to {new_file_name}")

Renamed: asteroid_diameter_neo_pha.csv to aa_asteroid_diameter_neo_pha.csv
Renamed: cneos_closeapproach_data_pha.csv to ab_cneos_closeapproach_data_pha.csv
Renamed: dataset_neo_pha.csv to ac_dataset_neo_pha.csv
Renamed: NASA_Near-Earth_Objects_neo_pha.csv to ad_NASA_Near-Earth_Objects_neo_pha.csv
Renamed: nasa_pha.csv to ae_nasa_pha.csv
Renamed: neo_v2_pha.csv to af_neo_v2_pha.csv
Renamed: orbits_pha_neo.csv to ag_orbits_pha_neo.csv
Renamed: sbdb_query_results_neo_pha.csv to ah_sbdb_query_results_neo_pha.csv

Rename all CSVs in final

In [22]:
files = os.listdir('Final_datasets')

# Enumerate through the files and rename them with prefixes
for index, file_name in enumerate(files):
    # Generate the prefix (aa_, ab_, ac_, ...)
    prefix = chr(ord('b') + (index // 26)) + chr(ord('a') + (index % 26)) + "_"
    
    # Construct the new file name with the prefix
    new_file_name = prefix + file_name

    # Construct the full paths for the old and new names
    old_path = os.path.join('Final_datasets', file_name)
    new_path = os.path.join('Final_datasets', new_file_name)

    # Rename the file
    os.rename(old_path, new_path)
    print(f"Renamed: {file_name} to {new_file_name}")

Renamed: cneos_closeapproach_data.csv to ba_cneos_closeapproach_data.csv
Renamed: Future_Asteroids.csv to bb_Future_Asteroids.csv

Un-Rename all CSVs

In [1]:
import os
for folder in ['datasets']:    
    for i in os.listdir(folder):
        if i[2] == '_':
            new_name = folder + '/' + i[3:]
            os.rename(folder + '/' + i, folder + '/' + i[3:])

List all csvs

In [35]:
CSVs = []
# os.chdir('datasets')
for file in os.listdir('datasets'):
    if file.endswith(".csv") and file[0].isalpha():
        CSVs.append(file)
        print(file)

print(f'\n{len(CSVs)}')

aa_Amerigeoss_see_what_you_can_use_Near-Earth_Comets_-_Orbital_Elements.csv
ab_asteroid_diameter.csv
af_Future_Asteroids.csv
ag_nasa.csv
ah_NASA_Near-Earth_Objects.csv
ai_Near-Earth_Asteroids_(NEAs).csv
aj_Near_Earth_Asteroids.csv
ak_NEOS-Close-Approach-Data.csv
al_NEO_Earth_Close_Approaches.csv
am_neo_v2.csv
an_orbits.csv
ao_orbits_-_orbits.csv
ap_pha_use_only_NEA_class.csv
aq_sbdb_query_results.csv
ar_vizier_votable1.csv
as_vizier_votable2.csv

16

### Read all csv headers

In [32]:
# Read all csv headers
headers = []
no_attributes = []
for file in CSVs:
    df = pd.read_csv(file, nrows=1)
    headers.append(df.columns.tolist())
    no_attributes.append(len(df.columns.tolist()))

final = []
for i, j in zip(no_attributes, headers):
    final.append([i, j])
    print([i, j])

In [33]:
import os
import csv

# Initialize an empty dictionary to store grouped data
grouped_data = {}

# Iterate through the CSV files in the directory
for filename in os.listdir():
    if filename.endswith(".csv"):
        # Extract the CSV name and number of attributes
        csv_name = os.path.splitext(filename)[0]
        with open(os.path.join(filename), 'r') as csvfile:
            csv_reader = csv.reader(csvfile)
            attributes = next(csv_reader)  # Read the first row as attributes
            num_attributes = len(attributes)
        
        # Group the data by the number of attributes
        if num_attributes in grouped_data:
            grouped_data[num_attributes].append({csv_name: attributes})
        else:
            grouped_data[num_attributes] = [{csv_name: attributes}]

# Sort the groups by the number of attributes
sorted_groups = sorted(grouped_data.items())

# Create the final dictionary with the desired format
final_result = {num_attr: data for num_attr, data in sorted_groups}

result_keys = list(final_result.keys())
result_keys.sort()
sorted_dict = {i: final_result[i] for i in result_keys}

# Display the result
for num_attributes, csv_list in final_result.items():
    print(f"Attributes: {num_attributes}")
    for csvs in csv_list:
        print(f"{list(csvs.keys())[0]}:\t{list(csvs.values())[0]}")
    print('\n')

In [34]:
df1 = pd.read_csv('al_NEO_Earth_Close_Approaches.csv').dropna(axis=0).drop_duplicates().iloc[:, :-1]
df2 = pd.read_csv('ad_cneos_closeapproach_data.csv').dropna(axis=0).drop_duplicates().iloc[:, :-1]

print(df1.info(), end="\n\n\n")

print(df2.info())

FileNotFoundError: [Errno 2] No such file or directory: 'al_NEO_Earth_Close_Approaches.csv'

In [ ]:
df1 = pd.concat([df1, df2], axis=0).drop_duplicates()
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
Index: 35910 entries, 0 to 19
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Object                    35910 non-null  object
 1   Close-Approach (CA) Date  35910 non-null  object
 2   CA DistanceNominal (au)   35910 non-null  object
 3   CA DistanceMinimum (au)   35910 non-null  object
 4   V relative(km/s)          35910 non-null  float64
 5   V infinity(km/s)          35910 non-null  object
 6   H(mag)                    35910 non-null  float64
 7   Diameter                  35910 non-null  object
dtypes: float64(2), object(6)
memory usage: 2.5+ MB
None

In [ ]:
df1.to_csv('at_cneos_closeapproach_data_final.csv', index=False)
# we can now discard ad and al csvs

To classify as NEO, we will need to see if the closest approach to the sun is less than 1.3 AU. <br>
This dataset however, contains only NEOs. So this can only be used for PHA training. <br>
For hazardousness, the object will need to be larger than 140 meters across. <br>
We can easily create a column for these 2 classifications.

In [ ]:
df = pd.read_csv('ad_cneos_closeapproach_data_final.csv')

df['CA DistanceMinimum (au)'] = df['CA DistanceMinimum (au)'].apply(lambda x: x.split(' | ')[1].strip() if ' | ' in x else x).astype(float)

In [ ]:
# Create a new "pha" column and initialize it with zeros
df['pha'] = 0

# Apply your conditions to set 'pha' to 1 where necessary
df.loc[(df['CA DistanceMinimum (au)'] < 0.01) | (df['H(mag)'] <= 22.0), 'pha'] = 1

df.to_csv('ad_cneos_closeapproach_data_final.csv', index=False)

In [ ]:
print(df['pha'].value_counts())

pha
0    22778
1    13132
Name: count, dtype: int64

In [ ]:
df.to_csv('at_cneos_closeapproach_data_final.csv', index=False)

### CSV set 2

In [38]:
df1, df2, df3 = pd.read_csv('datasets/af_Future_Asteroids.csv', engine='pyarrow').drop_duplicates(), pd.read_csv('datasets/aj_Near_Earth_Asteroids.csv', engine='pyarrow').drop_duplicates(), pd.read_csv('datasets/am_neo_v2.csv', engine='pyarrow').drop_duplicates()

print(f"\n{df1.info()}\n\n{df2.info()}\n\n{df3.info()}\n")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 753 entries, 0 to 752
Data columns (total 10 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Object                                                     753 non-null    object
 1   Close-Approach (CA) Date (TDB)YYYY-mmm-DD HH:MM ± D_HH:MM  753 non-null    object
 2   CA DistanceNominal(LD/AU)                                  753 non-null    object
 3   CA DistanceMinimum(LD/AU)                                  753 non-null    object
 4   Vrelative(km/s)                                            753 non-null    float64
 5   Vinfinity(km/s)                                            753 non-null    float64
 6   Nsigma                                                     753 non-null    float64
 7   H(mag)                                                     753 non-null    float64
 8   ref                                                        753 non-null    int64
 9   class                                                      753 non-null    object
dtypes: float64(4), int64(1), object(5)
memory usage: 59.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 544 entries, 0 to 543
Data columns (total 10 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Object                                                     544 non-null    object
 1   Close-Approach (CA) Date (TDB)YYYY-mmm-DD HH:MM ± D_HH:MM  544 non-null    object
 2   CA DistanceNominal(LD/AU)                                  544 non-null    object
 3   CA DistanceMinimum(LD/AU)                                  544 non-null    object
 4   Vrelative(km/s)                                            544 non-null    float64
 5   Vinfinity(km/s)                                            544 non-null    float64
 6   Nsigma                                                     544 non-null    float64
 7   H(mag)                                                     543 non-null    float64
 8   ref                                                        544 non-null    int64
 9   class                                                      544 non-null    object
dtypes: float64(4), int64(1), object(5)
memory usage: 42.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90836 entries, 0 to 90835
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  90836 non-null  int64
 1   name                90836 non-null  object
 2   est_diameter_min    90836 non-null  float64
 3   est_diameter_max    90836 non-null  float64
 4   relative_velocity   90836 non-null  float64
 5   miss_distance       90836 non-null  float64
 6   orbiting_body       90836 non-null  object
 7   sentry_object       90836 non-null  bool
 8   absolute_magnitude  90836 non-null  float64
 9   hazardous           90836 non-null  bool
dtypes: bool(2), float64(5), int64(1), object(2)
memory usage: 5.7+ MB

None

None

None

In [40]:
# Append df2 to df1
# df1 = pd.concat([df1, df2], axis=0).drop_duplicates()
print(df1['class'].value_counts())

class
APO*    936
ATE*    164
AMO*     74
IEO*      2
JFc*      1
Name: count, dtype: int64

In [41]:
# Change all values in df1['class'] to 'NEA'
df1['class'] = 'NEA'
print(df1['class'].value_counts())

class
NEA    1177
Name: count, dtype: int64

In [42]:
df1.to_csv('Final_datasets/af_Future_Asteroids.csv', index=False)

In [43]:
del df1, df2, df3

### Other CSV sets

#### Set 1

In [35]:
df = pd.read_csv('datasets/ah_neo_v2.csv', engine='pyarrow').drop_duplicates(inplace=False)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90836 entries, 0 to 90835
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  90836 non-null  int64
 1   name                90836 non-null  object
 2   est_diameter_min    90836 non-null  float64
 3   est_diameter_max    90836 non-null  float64
 4   relative_velocity   90836 non-null  float64
 5   miss_distance       90836 non-null  float64
 6   orbiting_body       90836 non-null  object
 7   sentry_object       90836 non-null  bool
 8   absolute_magnitude  90836 non-null  float64
 9   hazardous           90836 non-null  bool
dtypes: bool(2), float64(5), int64(1), object(2)
memory usage: 5.7+ MB

In [37]:
df['hazardous'].value_counts()

hazardous
False    81996
True      8840
Name: count, dtype: int64

In [38]:
# df1.drop('sentry_object', axis=1, inplace=True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90836 entries, 0 to 90835
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  90836 non-null  int64
 1   name                90836 non-null  object
 2   est_diameter_min    90836 non-null  float64
 3   est_diameter_max    90836 non-null  float64
 4   relative_velocity   90836 non-null  float64
 5   miss_distance       90836 non-null  float64
 6   orbiting_body       90836 non-null  object
 7   sentry_object       90836 non-null  bool
 8   absolute_magnitude  90836 non-null  float64
 9   hazardous           90836 non-null  bool
dtypes: bool(2), float64(5), int64(1), object(2)
memory usage: 5.7+ MB

In [43]:
for i in df.columns:
    values = df[i].value_counts()
    if len(values) < 10:
        print(f"{values}", end='\n\n')

orbiting_body
Earth    90836
Name: count, dtype: int64

sentry_object
False    90836
Name: count, dtype: int64

hazardous
False    81996
True      8840
Name: count, dtype: int64

In [44]:
df.drop(['orbiting_body', 'sentry_object'], axis=1, inplace=True)

In [46]:
df.drop(['id', 'name'], axis=1, inplace=True)

In [47]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90836 entries, 0 to 90835
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   est_diameter_min    90836 non-null  float64
 1   est_diameter_max    90836 non-null  float64
 2   relative_velocity   90836 non-null  float64
 3   miss_distance       90836 non-null  float64
 4   absolute_magnitude  90836 non-null  float64
 5   hazardous           90836 non-null  bool
dtypes: bool(1), float64(5)
memory usage: 3.6 MB
None

In [48]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

df['hazardous'] = le.fit_transform(df['hazardous'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90836 entries, 0 to 90835
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   est_diameter_min    90836 non-null  float64
 1   est_diameter_max    90836 non-null  float64
 2   relative_velocity   90836 non-null  float64
 3   miss_distance       90836 non-null  float64
 4   absolute_magnitude  90836 non-null  float64
 5   hazardous           90836 non-null  int64
dtypes: float64(5), int64(1)
memory usage: 4.2 MB

In [49]:
df.to_csv('Final_datasets/ah_neo_v2.csv', index=False)
del df

#### Set 2

In [16]:
df = pd.read_csv('datasets/ah_orbits.csv', engine='pyarrow')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15635 entries, 0 to 15634
Data columns (total 15 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Object Name                               15635 non-null  object
 1   Object Classification                     15635 non-null  object
 2   Epoch (TDB)                               15635 non-null  int64
 3   Orbit Axis (AU)                           15635 non-null  float64
 4   Orbit Eccentricity                        15635 non-null  float64
 5   Orbit Inclination (deg)                   15635 non-null  float64
 6   Perihelion Argument (deg)                 15635 non-null  float64
 7   Node Longitude (deg)                      15635 non-null  float64
 8   Mean Anomoly (deg)                        15635 non-null  float64
 9   Perihelion Distance (AU)                  15635 non-null  float64
 10  Aphelion Distance (AU)                    15635 non-null  float64
 11  Orbital Period (yr)                       15635 non-null  float64
 12  Minimum Orbit Intersection Distance (AU)  15635 non-null  float64
 13  Orbital Reference                         15635 non-null  int64
 14  Asteroid Magnitude                        15634 non-null  float64
dtypes: float64(11), int64(2), object(2)
memory usage: 1.8+ MB
None

In [17]:
print(f"Object classification values: \n{df['Object Classification'].value_counts()}")

Object classification values:
Object Classification
Apollo Asteroid              6940
Amor Asteroid                5918
Apollo Asteroid (Hazard)     1520
Aten Asteroid                 987
Aten Asteroid (Hazard)        155
Amor Asteroid (Hazard)         99
Apohele Asteroid               11
Apohele Asteroid (Hazard)       5
Name: count, dtype: int64

In [18]:
# Create new column "PHA" at the end
df['PHA'] = 0

# For each value in "Object Classification", if it contains "Hazard", change PHA to 1
df.loc[df['Object Classification'].str.contains('Hazard'), 'PHA'] = 1

In [19]:
df["Class"] = 0

In [21]:
df['Class'] = df['Object Classification'].apply(lambda x: x.split(' ')[0])
print(df['Class'].head(10))

0      Amor
1      Amor
2      Amor
3      Amor
4      Amor
5    Apollo
6      Amor
7    Apollo
8      Amor
9    Apollo
Name: Class, dtype: object

In [22]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['Class'] = le.fit_transform(df['Class'])

In [28]:
print(df[['Class']].value_counts())

Class
2        8460
0        6017
3        1142
1          16
Name: count, dtype: int64

In [29]:
df = df.drop_duplicates(inplace=False).dropna(axis=0)

In [31]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15635 entries, 0 to 15634
Data columns (total 17 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Object Name                               15635 non-null  object
 1   Object Classification                     15635 non-null  object
 2   Epoch (TDB)                               15635 non-null  int64
 3   Orbit Axis (AU)                           15635 non-null  float64
 4   Orbit Eccentricity                        15635 non-null  float64
 5   Orbit Inclination (deg)                   15635 non-null  float64
 6   Perihelion Argument (deg)                 15635 non-null  float64
 7   Node Longitude (deg)                      15635 non-null  float64
 8   Mean Anomoly (deg)                        15635 non-null  float64
 9   Perihelion Distance (AU)                  15635 non-null  float64
 10  Aphelion Distance (AU)                    15635 non-null  float64
 11  Orbital Period (yr)                       15635 non-null  float64
 12  Minimum Orbit Intersection Distance (AU)  15635 non-null  float64
 13  Orbital Reference                         15635 non-null  int64
 14  Asteroid Magnitude                        15634 non-null  float64
 15  PHA                                       15635 non-null  int64
 16  Class                                     15635 non-null  int32
dtypes: float64(11), int32(1), int64(3), object(2)
memory usage: 2.0+ MB
None

In [32]:
df.drop(['Object Classification'], axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15635 entries, 0 to 15634
Data columns (total 16 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Object Name                               15635 non-null  object
 1   Epoch (TDB)                               15635 non-null  int64
 2   Orbit Axis (AU)                           15635 non-null  float64
 3   Orbit Eccentricity                        15635 non-null  float64
 4   Orbit Inclination (deg)                   15635 non-null  float64
 5   Perihelion Argument (deg)                 15635 non-null  float64
 6   Node Longitude (deg)                      15635 non-null  float64
 7   Mean Anomoly (deg)                        15635 non-null  float64
 8   Perihelion Distance (AU)                  15635 non-null  float64
 9   Aphelion Distance (AU)                    15635 non-null  float64
 10  Orbital Period (yr)                       15635 non-null  float64
 11  Minimum Orbit Intersection Distance (AU)  15635 non-null  float64
 12  Orbital Reference                         15635 non-null  int64
 13  Asteroid Magnitude                        15634 non-null  float64
 14  PHA                                       15635 non-null  int64
 15  Class                                     15635 non-null  int32
dtypes: float64(11), int32(1), int64(3), object(1)
memory usage: 1.8+ MB

In [33]:
df.to_csv('Final_datasets/ah_orbits.csv', index=False)

#### Set 3

In [47]:
df1 = pd.read_csv('datasets/ai_orbits_-_orbits.csv', engine='pyarrow')
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15635 entries, 0 to 15634
Data columns (total 16 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Object Name                               15635 non-null  object
 1   Epoch (TDB)                               15635 non-null  int64
 2   Orbit Axis (AU)                           15635 non-null  float64
 3   Orbit Eccentricity                        15635 non-null  float64
 4   Orbit Inclination (deg)                   15635 non-null  float64
 5   Perihelion Argument (deg)                 15635 non-null  float64
 6   Node Longitude (deg)                      15635 non-null  float64
 7   Mean Anomoly (deg)                        15635 non-null  float64
 8   Perihelion Distance (AU)                  15635 non-null  float64
 9   Aphelion Distance (AU)                    15635 non-null  float64
 10  Orbital Period (yr)                       15635 non-null  float64
 11  Minimum Orbit Intersection Distance (AU)  15635 non-null  float64
 12  Orbital Reference                         15635 non-null  int64
 13  Asteroid Magnitude                        15634 non-null  float64
 14  Classification                            15635 non-null  object
 15  Hazardous                                 15635 non-null  bool
dtypes: bool(1), float64(11), int64(2), object(2)
memory usage: 1.8+ MB
None

In [48]:
from sklearn.preprocessing import LabelEncoder

df1["Classification"] = df1["Classification"].apply(lambda x: x.split(' ')[0])
print(df1["Classification"].value_counts())

le = LabelEncoder()
df1["Classification"] = le.fit_transform(df1["Classification"])
del le

le = LabelEncoder()
df1["Hazardous"] = le.fit_transform(df1["Hazardous"])
print(df1["Hazardous"].value_counts())

Classification
Apollo     8460
Amor       6017
Aten       1142
Apohele      16
Name: count, dtype: int64
Hazardous
0    13856
1     1779
Name: count, dtype: int64

In [57]:
df1.to_csv('Final_datasets/ai_orbits_-_orbits.csv', index=False)

#### Set 4

In [61]:
df1 = pd.read_csv('datasets/ae_NASA_Near-Earth_Objects.csv', engine='pyarrow')

In [62]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24000 entries, 0 to 23999
Data columns (total 18 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0                                      24000 non-null  int64
 1   id                                 24000 non-null  int64
 2   neo_reference_id                   24000 non-null  int64
 3   name                               24000 non-null  object
 4   name_limited                       24000 non-null  object
 5   designation                        24000 non-null  object
 6   absolute_magnitude_h               23992 non-null  float64
 7   is_potentially_hazardous_asteroid  24000 non-null  bool
 8   is_sentry_object                   24000 non-null  bool
 9   kilometers_estimated_diameter_min  23992 non-null  float64
 10  kilometers_estimated_diameter_max  23992 non-null  float64
 11  orbit_id                           24000 non-null  object
 12  orbit_class_type                   24000 non-null  object
 13  perihelion_distance                24000 non-null  float64
 14  aphelion_distance                  24000 non-null  float64
 15  first_observation_date             24000 non-null  object
 16  last_observation_date              24000 non-null  object
 17  orbit_class_description            24000 non-null  object
dtypes: bool(2), float64(5), int64(3), object(8)
memory usage: 3.0+ MB

In [65]:
df1['pha'] = 0
df1['neo'] = 0

In [66]:
df1['pha'] = df1['is_potentially_hazardous_asteroid'].apply(lambda x: 1 if x == True else 0)
df1['neo'] = df1['orbit_class_description'].apply(lambda x: x.split(' ')[-1])

In [70]:
df1['neo'] = df1['neo'].apply(lambda x: 'IEO' if x == 'Object' else x)

In [71]:
df1['neo'].value_counts()

neo
Apollo    13245
Amor       8921
Aten       1812
IEO          22
Name: count, dtype: int64

In [73]:
# df1.to_csv('Final_datasets/ae_NASA_Near-Earth_Objects.csv', index=False)
del df1

#### Set 5

In [74]:
df1 = pd.read_csv('datasets/ab_Asteroid_Updated.csv', engine='pyarrow')

In [75]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839714 entries, 0 to 839713
Data columns (total 31 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   name            839714 non-null  object
 1   a               839712 non-null  float64
 2   e               839714 non-null  float64
 3   i               839714 non-null  float64
 4   om              839714 non-null  float64
 5   w               839714 non-null  float64
 6   q               839714 non-null  float64
 7   ad              839708 non-null  float64
 8   per_y           839713 non-null  float64
 9   data_arc        824240 non-null  float64
 10  condition_code  839714 non-null  object
 11  n_obs_used      839714 non-null  int64
 12  H               837025 non-null  float64
 13  neo             839714 non-null  object
 14  pha             839714 non-null  object
 15  diameter        839714 non-null  object
 16  extent          839714 non-null  object
 17  albedo          136409 non-null  float64
 18  rot_per         18796 non-null   float64
 19  GM              14 non-null      float64
 20  BV              1021 non-null    float64
 21  UB              979 non-null     float64
 22  IR              1 non-null       float64
 23  spec_B          839714 non-null  object
 24  spec_T          839714 non-null  object
 25  G               119 non-null     float64
 26  moid            823272 non-null  float64
 27  class           839714 non-null  object
 28  n               839712 non-null  float64
 29  per             839708 non-null  float64
 30  ma              839706 non-null  float64
dtypes: float64(21), int64(1), object(9)
memory usage: 198.6+ MB
None

In [76]:
for i in ['neo', 'pha', 'class']:
    print(f"{i}:\n{df1[i].value_counts()}\n")

neo:
neo
N    818308
Y     21400
          6
Name: count, dtype: int64

pha:
pha
N    821257
      16442
Y      2015
Name: count, dtype: int64

class:
class
MBA    747420
OMB     24715
IMB     17552
MCA     17354
APO     11759
AMO      8020
TJN      7385
TNO      3310
ATE      1601
CEN       488
AST        84
IEO        20
HYA         4
PAA         2
Name: count, dtype: int64

In [79]:
df1.drop_duplicates(inplace=False).dropna(axis=1, inplace=True, thresh=(len(df1) * 0.8))

In [80]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839714 entries, 0 to 839713
Data columns (total 31 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   name            839714 non-null  object
 1   a               839712 non-null  float64
 2   e               839714 non-null  float64
 3   i               839714 non-null  float64
 4   om              839714 non-null  float64
 5   w               839714 non-null  float64
 6   q               839714 non-null  float64
 7   ad              839708 non-null  float64
 8   per_y           839713 non-null  float64
 9   data_arc        824240 non-null  float64
 10  condition_code  839714 non-null  object
 11  n_obs_used      839714 non-null  int64
 12  H               837025 non-null  float64
 13  neo             839714 non-null  object
 14  pha             839714 non-null  object
 15  diameter        839714 non-null  object
 16  extent          839714 non-null  object
 17  albedo          136409 non-null  float64
 18  rot_per         18796 non-null   float64
 19  GM              14 non-null      float64
 20  BV              1021 non-null    float64
 21  UB              979 non-null     float64
 22  IR              1 non-null       float64
 23  spec_B          839714 non-null  object
 24  spec_T          839714 non-null  object
 25  G               119 non-null     float64
 26  moid            823272 non-null  float64
 27  class           839714 non-null  object
 28  n               839712 non-null  float64
 29  per             839708 non-null  float64
 30  ma              839706 non-null  float64
dtypes: float64(21), int64(1), object(9)
memory usage: 198.6+ MB

In [81]:
# Drop columns if null value percentage is more than 30%
for i in df1.columns:
    if df1[i].isnull().sum() > 0.3 * len(df1):
        df1.drop(i, axis=1, inplace=True)

print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839714 entries, 0 to 839713
Data columns (total 24 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   name            839714 non-null  object
 1   a               839712 non-null  float64
 2   e               839714 non-null  float64
 3   i               839714 non-null  float64
 4   om              839714 non-null  float64
 5   w               839714 non-null  float64
 6   q               839714 non-null  float64
 7   ad              839708 non-null  float64
 8   per_y           839713 non-null  float64
 9   data_arc        824240 non-null  float64
 10  condition_code  839714 non-null  object
 11  n_obs_used      839714 non-null  int64
 12  H               837025 non-null  float64
 13  neo             839714 non-null  object
 14  pha             839714 non-null  object
 15  diameter        839714 non-null  object
 16  extent          839714 non-null  object
 17  spec_B          839714 non-null  object
 18  spec_T          839714 non-null  object
 19  moid            823272 non-null  float64
 20  class           839714 non-null  object
 21  n               839712 non-null  float64
 22  per             839708 non-null  float64
 23  ma              839706 non-null  float64
dtypes: float64(14), int64(1), object(9)
memory usage: 153.8+ MB
None

In [82]:
# Drop any rows with any empty values
df1.dropna(axis=0, inplace=True)

In [83]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 820174 entries, 0 to 839713
Data columns (total 24 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   name            820174 non-null  object
 1   a               820174 non-null  float64
 2   e               820174 non-null  float64
 3   i               820174 non-null  float64
 4   om              820174 non-null  float64
 5   w               820174 non-null  float64
 6   q               820174 non-null  float64
 7   ad              820174 non-null  float64
 8   per_y           820174 non-null  float64
 9   data_arc        820174 non-null  float64
 10  condition_code  820174 non-null  object
 11  n_obs_used      820174 non-null  int64
 12  H               820174 non-null  float64
 13  neo             820174 non-null  object
 14  pha             820174 non-null  object
 15  diameter        820174 non-null  object
 16  extent          820174 non-null  object
 17  spec_B          820174 non-null  object
 18  spec_T          820174 non-null  object
 19  moid            820174 non-null  float64
 20  class           820174 non-null  object
 21  n               820174 non-null  float64
 22  per             820174 non-null  float64
 23  ma              820174 non-null  float64
dtypes: float64(14), int64(1), object(9)
memory usage: 156.4+ MB

In [86]:
df1 = pd.concat((df1.drop(['neo', 'pha', 'class'], axis=1, inplace=False), df1[['neo', 'pha', 'class']]), axis=1)
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
Index: 820174 entries, 0 to 839713
Data columns (total 24 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   name            820174 non-null  object
 1   a               820174 non-null  float64
 2   e               820174 non-null  float64
 3   i               820174 non-null  float64
 4   om              820174 non-null  float64
 5   w               820174 non-null  float64
 6   q               820174 non-null  float64
 7   ad              820174 non-null  float64
 8   per_y           820174 non-null  float64
 9   data_arc        820174 non-null  float64
 10  condition_code  820174 non-null  object
 11  n_obs_used      820174 non-null  int64
 12  H               820174 non-null  float64
 13  diameter        820174 non-null  object
 14  extent          820174 non-null  object
 15  spec_B          820174 non-null  object
 16  spec_T          820174 non-null  object
 17  moid            820174 non-null  float64
 18  n               820174 non-null  float64
 19  per             820174 non-null  float64
 20  ma              820174 non-null  float64
 21  neo             820174 non-null  object
 22  pha             820174 non-null  object
 23  class           820174 non-null  object
dtypes: float64(14), int64(1), object(9)
memory usage: 156.4+ MB
None

In [87]:
for i in ['neo', 'pha', 'class']:
    print(f"{i}:\n{df1[i].value_counts()}\n")

neo:
neo
N    798975
Y     21199
Name: count, dtype: int64

pha:
pha
N    818161
Y      2013
Name: count, dtype: int64

class:
class
MBA    730093
OMB     23786
IMB     17211
MCA     16728
APO     11598
AMO      7996
TJN      7303
TNO      3298
ATE      1585
CEN       479
AST        77
IEO        20
Name: count, dtype: int64

In [88]:
df1.to_csv('Final_datasets/ab_Asteroid_Updated.csv', index=False)

In [89]:
del df1

#### Set 6

In [15]:
df1 = pd.read_csv('datasets/ad_nasa.csv', engine='pyarrow')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4687 entries, 0 to 4686
Data columns (total 40 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Neo Reference ID              4687 non-null   int64
 1   Name                          4687 non-null   int64
 2   Absolute Magnitude            4687 non-null   float64
 3   Est Dia in KM(min)            4687 non-null   float64
 4   Est Dia in KM(max)            4687 non-null   float64
 5   Est Dia in M(min)             4687 non-null   float64
 6   Est Dia in M(max)             4687 non-null   float64
 7   Est Dia in Miles(min)         4687 non-null   float64
 8   Est Dia in Miles(max)         4687 non-null   float64
 9   Est Dia in Feet(min)          4687 non-null   float64
 10  Est Dia in Feet(max)          4687 non-null   float64
 11  Close Approach Date           4687 non-null   object
 12  Epoch Date Close Approach     4687 non-null   int64
 13  Relative Velocity km per sec  4687 non-null   float64
 14  Relative Velocity km per hr   4687 non-null   float64
 15  Miles per hour                4687 non-null   float64
 16  Miss Dist.(Astronomical)      4687 non-null   float64
 17  Miss Dist.(lunar)             4687 non-null   float64
 18  Miss Dist.(kilometers)        4687 non-null   float64
 19  Miss Dist.(miles)             4687 non-null   float64
 20  Orbiting Body                 4687 non-null   object
 21  Orbit ID                      4687 non-null   int64
 22  Orbit Determination Date      4687 non-null   datetime64[s]
 23  Orbit Uncertainity            4687 non-null   int64
 24  Minimum Orbit Intersection    4687 non-null   float64
 25  Jupiter Tisserand Invariant   4687 non-null   float64
 26  Epoch Osculation              4687 non-null   float64
 27  Eccentricity                  4687 non-null   float64
 28  Semi Major Axis               4687 non-null   float64
 29  Inclination                   4687 non-null   float64
 30  Asc Node Longitude            4687 non-null   float64
 31  Orbital Period                4687 non-null   float64
 32  Perihelion Distance           4687 non-null   float64
 33  Perihelion Arg                4687 non-null   float64
 34  Aphelion Dist                 4687 non-null   float64
 35  Perihelion Time               4687 non-null   float64
 36  Mean Anomaly                  4687 non-null   float64
 37  Mean Motion                   4687 non-null   float64
 38  Equinox                       4687 non-null   object
 39  Hazardous                     4687 non-null   bool
dtypes: bool(1), datetime64[s](1), float64(30), int64(5), object(3)
memory usage: 1.4+ MB

In [16]:
for column in df1.columns:
    # Type is object
    if df1[column].dtype == 'object':
        print(f"{column}:\n{df1[column].value_counts()}\n")

Close Approach Date:
Close Approach Date
2016-07-22    18
2015-01-15    17
2015-02-15    16
2012-03-15    16
2014-11-22    16
              ..
2000-05-08     1
1999-05-15     1
1998-09-15     1
1999-04-22     1
2001-06-22     1
Name: count, Length: 777, dtype: int64

Orbiting Body:
Orbiting Body
Earth    4687
Name: count, dtype: int64

Equinox:
Equinox
J2000    4687
Name: count, dtype: int64

In [22]:
# Drop Equinox and orbiting body
df1.drop(['Equinox', 'Orbiting Body'], axis=1, inplace=True)

KeyError: "['Equinox', 'Orbiting Body'] not found in axis"

In [23]:
df1['Hazardous'] = df1['Hazardous'].apply(lambda x: 1 if x == True else 0)

In [24]:
print(df1['Hazardous'].value_counts())

Hazardous
0    3932
1     755
Name: count, dtype: int64

In [25]:
df1.to_csv('Final_datasets/ad_nasa.csv', index=False)
del df1

#### Set 7

In [52]:
df = pd.read_csv('datasets/aa_asteroid_diameter.csv', engine='pyarrow')

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139736 entries, 0 to 139735
Data columns (total 58 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   full_name       139736 non-null  object
 1   a               139736 non-null  float64
 2   e               139736 non-null  float64
 3   i               139736 non-null  float64
 4   om              139736 non-null  float64
 5   w               139736 non-null  float64
 6   q               139736 non-null  float64
 7   ad              139736 non-null  float64
 8   per_y           139736 non-null  float64
 9   data_arc        139720 non-null  float64
 10  condition_code  139732 non-null  float64
 11  n_obs_used      139736 non-null  int64
 12  H               138881 non-null  float64
 13  spkid           139736 non-null  int64
 14  pdes            139736 non-null  object
 15  name            139736 non-null  object
 16  neo             139736 non-null  object
 17  pha             139736 non-null  object
 18  sats            139736 non-null  int64
 19  G               119 non-null     float64
 20  diameter        139736 non-null  float64
 21  albedo          138520 non-null  float64
 22  rot_per         19586 non-null   float64
 23  BV              1007 non-null    float64
 24  UB              966 non-null     float64
 25  spec_B          139736 non-null  object
 26  spec_T          139736 non-null  object
 27  diameter_sigma  139520 non-null  float64
 28  orbit_id        139736 non-null  object
 29  epoch           139736 non-null  float64
 30  epoch_mjd       139736 non-null  int64
 31  epoch_cal       139736 non-null  object
 32  equinox         139736 non-null  object
 33  ma              139736 non-null  float64
 34  n               139736 non-null  float64
 35  tp              139736 non-null  float64
 36  tp_cal          139736 non-null  object
 37  per             139736 non-null  float64
 38  moid            139736 non-null  float64
 39  moid_ld         139736 non-null  float64
 40  moid_jup        139732 non-null  float64
 41  t_jup           139736 non-null  float64
 42  sigma_e         139736 non-null  float64
 43  sigma_a         139736 non-null  float64
 44  sigma_q         139736 non-null  float64
 45  sigma_i         139736 non-null  float64
 46  sigma_om        139736 non-null  float64
 47  sigma_w         139736 non-null  float64
 48  sigma_ma        139736 non-null  float64
 49  sigma_ad        139736 non-null  float64
 50  sigma_n         139736 non-null  float64
 51  sigma_tp        139736 non-null  float64
 52  sigma_per       139736 non-null  float64
 53  class           139736 non-null  object
 54  producer        139736 non-null  object
 55  first_obs       139736 non-null  object
 56  last_obs        139736 non-null  object
 57  rms             139736 non-null  float64
dtypes: float64(39), int64(4), object(15)
memory usage: 61.8+ MB

In [54]:
# Drop columns with more than 30% null values
for i in df.columns:
    if df[i].isnull().sum() > 0.3 * len(df):
        df.drop(i, axis=1, inplace=True)

In [55]:
df.drop(['equinox'], axis=1, inplace=True)

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139736 entries, 0 to 139735
Data columns (total 53 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   full_name       139736 non-null  object
 1   a               139736 non-null  float64
 2   e               139736 non-null  float64
 3   i               139736 non-null  float64
 4   om              139736 non-null  float64
 5   w               139736 non-null  float64
 6   q               139736 non-null  float64
 7   ad              139736 non-null  float64
 8   per_y           139736 non-null  float64
 9   data_arc        139720 non-null  float64
 10  condition_code  139732 non-null  float64
 11  n_obs_used      139736 non-null  int64
 12  H               138881 non-null  float64
 13  spkid           139736 non-null  int64
 14  pdes            139736 non-null  object
 15  name            139736 non-null  object
 16  neo             139736 non-null  object
 17  pha             139736 non-null  object
 18  sats            139736 non-null  int64
 19  diameter        139736 non-null  float64
 20  albedo          138520 non-null  float64
 21  spec_B          139736 non-null  object
 22  spec_T          139736 non-null  object
 23  diameter_sigma  139520 non-null  float64
 24  orbit_id        139736 non-null  object
 25  epoch           139736 non-null  float64
 26  epoch_mjd       139736 non-null  int64
 27  epoch_cal       139736 non-null  object
 28  ma              139736 non-null  float64
 29  n               139736 non-null  float64
 30  tp              139736 non-null  float64
 31  tp_cal          139736 non-null  object
 32  per             139736 non-null  float64
 33  moid            139736 non-null  float64
 34  moid_ld         139736 non-null  float64
 35  moid_jup        139732 non-null  float64
 36  t_jup           139736 non-null  float64
 37  sigma_e         139736 non-null  float64
 38  sigma_a         139736 non-null  float64
 39  sigma_q         139736 non-null  float64
 40  sigma_i         139736 non-null  float64
 41  sigma_om        139736 non-null  float64
 42  sigma_w         139736 non-null  float64
 43  sigma_ma        139736 non-null  float64
 44  sigma_ad        139736 non-null  float64
 45  sigma_n         139736 non-null  float64
 46  sigma_tp        139736 non-null  float64
 47  sigma_per       139736 non-null  float64
 48  class           139736 non-null  object
 49  producer        139736 non-null  object
 50  first_obs       139736 non-null  object
 51  last_obs        139736 non-null  object
 52  rms             139736 non-null  float64
dtypes: float64(35), int64(4), object(14)
memory usage: 56.5+ MB

In [57]:
df.dropna(axis=0, inplace=True)

In [58]:
df.drop_duplicates(inplace=True)

In [59]:
df.drop(['producer'], axis=1, inplace=True)

In [60]:
for column in df.columns:
    if df[column].dtype == 'object' and len(df[column].value_counts()) < 10:
        print(f"{column}:\n{df[column].value_counts()}\n")

neo:
neo
N    136562
Y      1141
Name: count, dtype: int64

pha:
pha
N    137402
Y       301
Name: count, dtype: int64

In [61]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

df['neo'] = le.fit_transform(df['neo'])
df['pha'] = le.fit_transform(df['pha'])

In [63]:
df = pd.concat((df.drop(['neo', 'pha'], axis=1, inplace=False), df[['neo', 'pha']]), axis=1)

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 137703 entries, 0 to 139630
Data columns (total 52 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   full_name       137703 non-null  object
 1   a               137703 non-null  float64
 2   e               137703 non-null  float64
 3   i               137703 non-null  float64
 4   om              137703 non-null  float64
 5   w               137703 non-null  float64
 6   q               137703 non-null  float64
 7   ad              137703 non-null  float64
 8   per_y           137703 non-null  float64
 9   data_arc        137703 non-null  float64
 10  condition_code  137703 non-null  float64
 11  n_obs_used      137703 non-null  int64
 12  H               137703 non-null  float64
 13  spkid           137703 non-null  int64
 14  pdes            137703 non-null  object
 15  name            137703 non-null  object
 16  sats            137703 non-null  int64
 17  diameter        137703 non-null  float64
 18  albedo          137703 non-null  float64
 19  spec_B          137703 non-null  object
 20  spec_T          137703 non-null  object
 21  diameter_sigma  137703 non-null  float64
 22  orbit_id        137703 non-null  object
 23  epoch           137703 non-null  float64
 24  epoch_mjd       137703 non-null  int64
 25  epoch_cal       137703 non-null  object
 26  ma              137703 non-null  float64
 27  n               137703 non-null  float64
 28  tp              137703 non-null  float64
 29  tp_cal          137703 non-null  object
 30  per             137703 non-null  float64
 31  moid            137703 non-null  float64
 32  moid_ld         137703 non-null  float64
 33  moid_jup        137703 non-null  float64
 34  t_jup           137703 non-null  float64
 35  sigma_e         137703 non-null  float64
 36  sigma_a         137703 non-null  float64
 37  sigma_q         137703 non-null  float64
 38  sigma_i         137703 non-null  float64
 39  sigma_om        137703 non-null  float64
 40  sigma_w         137703 non-null  float64
 41  sigma_ma        137703 non-null  float64
 42  sigma_ad        137703 non-null  float64
 43  sigma_n         137703 non-null  float64
 44  sigma_tp        137703 non-null  float64
 45  sigma_per       137703 non-null  float64
 46  class           137703 non-null  object
 47  first_obs       137703 non-null  object
 48  last_obs        137703 non-null  object
 49  rms             137703 non-null  float64
 50  neo             137703 non-null  int32
 51  pha             137703 non-null  int32
dtypes: float64(35), int32(2), int64(4), object(11)
memory usage: 54.6+ MB

In [65]:
df.to_csv('Final_datasets/aa_asteroid_diameter.csv', index=False)
del df

#### Set 8

In [90]:
df = pd.read_csv('datasets/ac_dataset.csv', engine='pyarrow')
df.info()

FileNotFoundError: [Errno 2] No such file or directory: 'datasets/ac_dataset.csv'

In [ ]:
# Remove all columns with more than 30% null values
for i in df.columns:
    if df[i].isnull().sum() > 0.3 * len(df):
        df.drop(i, axis=1, inplace=True)

In [ ]:
for column in df.columns:
    if df[column].dtype == 'object' and len(df[column].value_counts()) < 10:
        print(f"{column}:\n{df[column].value_counts()}\n")

prefix:
prefix
     958506
A        18
Name: count, dtype: int64

neo:
neo
N    935625
Y     22895
          4
Name: count, dtype: int64

pha:
pha
N    936537
      19921
Y      2066
Name: count, dtype: int64

equinox:
equinox
J2000    958524
Name: count, dtype: int64

In [ ]:
df.drop(['prefix', 'equinox'], axis=1, inplace=True)

In [ ]:
df.dropna(axis=0, inplace=True)

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

df['neo'] = le.fit_transform(df['neo'])
df['pha'] = le.fit_transform(df['pha'])

In [ ]:
df = pd.concat((df.drop(['neo', 'pha'], axis=1, inplace=False), df[['neo', 'pha']]), axis=1)

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 932335 entries, 0 to 958523
Data columns (total 40 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         932335 non-null  object
 1   spkid      932335 non-null  int64
 2   full_name  932335 non-null  object
 3   pdes       932335 non-null  object
 4   name       932335 non-null  object
 5   H          932335 non-null  float64
 6   orbit_id   932335 non-null  object
 7   epoch      932335 non-null  float64
 8   epoch_mjd  932335 non-null  int64
 9   epoch_cal  932335 non-null  float64
 10  e          932335 non-null  float64
 11  a          932335 non-null  float64
 12  q          932335 non-null  float64
 13  i          932335 non-null  float64
 14  om         932335 non-null  float64
 15  w          932335 non-null  float64
 16  ma         932335 non-null  float64
 17  ad         932335 non-null  float64
 18  n          932335 non-null  float64
 19  tp         932335 non-null  float64
 20  tp_cal     932335 non-null  float64
 21  per        932335 non-null  float64
 22  per_y      932335 non-null  float64
 23  moid       932335 non-null  float64
 24  moid_ld    932335 non-null  float64
 25  sigma_e    932335 non-null  float64
 26  sigma_a    932335 non-null  float64
 27  sigma_q    932335 non-null  float64
 28  sigma_i    932335 non-null  float64
 29  sigma_om   932335 non-null  float64
 30  sigma_w    932335 non-null  float64
 31  sigma_ma   932335 non-null  float64
 32  sigma_ad   932335 non-null  float64
 33  sigma_n    932335 non-null  float64
 34  sigma_tp   932335 non-null  float64
 35  sigma_per  932335 non-null  float64
 36  class      932335 non-null  object
 37  rms        932335 non-null  float64
 38  neo        932335 non-null  int32
 39  pha        932335 non-null  int32
dtypes: float64(30), int32(2), int64(2), object(6)
memory usage: 284.5+ MB
None

In [ ]:
df.to_csv('Final_datasets/ac_dataset.csv', index=False)

In [ ]:
del df

#### Set 9

In [91]:
df = pd.read_csv('datasets/ak_sbdb_query_results.csv', engine='pyarrow')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32640 entries, 0 to 32639
Data columns (total 79 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   spkid           32640 non-null  int64
 1   full_name       32640 non-null  object
 2   pdes            32640 non-null  object
 3   name            32640 non-null  object
 4   prefix          32640 non-null  object
 5   neo             32640 non-null  object
 6   pha             32640 non-null  object
 7   sats            32640 non-null  int64
 8   H               32433 non-null  float64
 9   G               13 non-null     float64
 10  M1              153 non-null    float64
 11  M2              47 non-null     float64
 12  K1              153 non-null    float64
 13  K2              47 non-null     float64
 14  PC              29 non-null     float64
 15  diameter        1267 non-null   float64
 16  extent          32640 non-null  object
 17  albedo          1207 non-null   float64
 18  rot_per         2136 non-null   float64
 19  GM              6 non-null      float64
 20  BV              38 non-null     float64
 21  UB              38 non-null     float64
 22  IR              1 non-null      float64
 23  spec_B          32640 non-null  object
 24  spec_T          32640 non-null  object
 25  H_sigma         12078 non-null  float64
 26  diameter_sigma  1163 non-null   float64
 27  orbit_id        32640 non-null  object
 28  epoch           32640 non-null  float64
 29  epoch_mjd       32640 non-null  int64
 30  epoch_cal       32640 non-null  object
 31  equinox         32640 non-null  object
 32  e               32640 non-null  float64
 33  a               32640 non-null  float64
 34  q               32640 non-null  float64
 35  i               32640 non-null  float64
 36  om              32640 non-null  float64
 37  w               32640 non-null  float64
 38  ma              32640 non-null  float64
 39  ad              32640 non-null  float64
 40  n               32640 non-null  float64
 41  tp              32640 non-null  float64
 42  tp_cal          32640 non-null  object
 43  per             32640 non-null  float64
 44  per_y           32640 non-null  float64
 45  moid            32609 non-null  float64
 46  moid_ld         32609 non-null  float64
 47  moid_jup        32546 non-null  float64
 48  t_jup           32640 non-null  float64
 49  sigma_e         32607 non-null  float64
 50  sigma_a         32607 non-null  float64
 51  sigma_q         32607 non-null  float64
 52  sigma_i         32607 non-null  float64
 53  sigma_om        32607 non-null  float64
 54  sigma_w         32607 non-null  float64
 55  sigma_ma        32607 non-null  float64
 56  sigma_ad        32607 non-null  float64
 57  sigma_n         32607 non-null  float64
 58  sigma_tp        32607 non-null  float64
 59  sigma_per       32607 non-null  float64
 60  class           32640 non-null  object
 61  producer        32640 non-null  object
 62  data_arc        32371 non-null  float64
 63  first_obs       32640 non-null  object
 64  last_obs        32640 non-null  object
 65  n_obs_used      32640 non-null  int64
 66  n_del_obs_used  1008 non-null   float64
 67  n_dop_obs_used  1008 non-null   float64
 68  condition_code  32629 non-null  float64
 69  rms             32632 non-null  float64
 70  two_body        32640 non-null  object
 71  A1              58 non-null     float64
 72  A1_sigma        56 non-null     float64
 73  A2              384 non-null    float64
 74  A2_sigma        382 non-null    float64
 75  A3              19 non-null     float64
 76  A3_sigma        19 non-null     float64
 77  DT              8 non-null      float64
 78  DT_sigma        8 non-null      float64
dtypes: float64(57), int64(4), object(18)
memory usage: 19.7+ MB

In [92]:
# Drop columns with more than 30% null values
for i in df.columns:
    if df[i].isnull().sum() > 0.3 * len(df):
        df.drop(i, axis=1, inplace=True)

In [93]:
df.dropna(axis=0, inplace=True)
df.drop_duplicates(inplace=True)

In [94]:
df = pd.concat((df.drop(['neo', 'pha'], axis=1, inplace=False), df[['neo', 'pha']]), axis=1)

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
# df['neo'] = le.fit_transform(df['neo'])
df['pha'] = le.fit_transform(df['pha'])

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32145 entries, 0 to 32437
Data columns (total 54 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   spkid           32145 non-null  int64
 1   full_name       32145 non-null  object
 2   pdes            32145 non-null  object
 3   name            32145 non-null  object
 4   prefix          32145 non-null  object
 5   sats            32145 non-null  int64
 6   H               32145 non-null  float64
 7   extent          32145 non-null  object
 8   spec_B          32145 non-null  object
 9   spec_T          32145 non-null  object
 10  orbit_id        32145 non-null  object
 11  epoch           32145 non-null  float64
 12  epoch_mjd       32145 non-null  int64
 13  epoch_cal       32145 non-null  object
 14  equinox         32145 non-null  object
 15  e               32145 non-null  float64
 16  a               32145 non-null  float64
 17  q               32145 non-null  float64
 18  i               32145 non-null  float64
 19  om              32145 non-null  float64
 20  w               32145 non-null  float64
 21  ma              32145 non-null  float64
 22  ad              32145 non-null  float64
 23  n               32145 non-null  float64
 24  tp              32145 non-null  float64
 25  tp_cal          32145 non-null  object
 26  per             32145 non-null  float64
 27  per_y           32145 non-null  float64
 28  moid            32145 non-null  float64
 29  moid_ld         32145 non-null  float64
 30  moid_jup        32145 non-null  float64
 31  t_jup           32145 non-null  float64
 32  sigma_e         32145 non-null  float64
 33  sigma_a         32145 non-null  float64
 34  sigma_q         32145 non-null  float64
 35  sigma_i         32145 non-null  float64
 36  sigma_om        32145 non-null  float64
 37  sigma_w         32145 non-null  float64
 38  sigma_ma        32145 non-null  float64
 39  sigma_ad        32145 non-null  float64
 40  sigma_n         32145 non-null  float64
 41  sigma_tp        32145 non-null  float64
 42  sigma_per       32145 non-null  float64
 43  class           32145 non-null  object
 44  producer        32145 non-null  object
 45  data_arc        32145 non-null  float64
 46  first_obs       32145 non-null  object
 47  last_obs        32145 non-null  object
 48  n_obs_used      32145 non-null  int64
 49  condition_code  32145 non-null  float64
 50  rms             32145 non-null  float64
 51  two_body        32145 non-null  object
 52  neo             32145 non-null  object
 53  pha             32145 non-null  int32
dtypes: float64(32), int32(1), int64(4), object(17)
memory usage: 13.4+ MB

In [96]:
print(df['neo'].value_counts())
df['pha'].value_counts()

neo
Y    32145
Name: count, dtype: int64

pha
0    29787
1     2358
Name: count, dtype: int64

In [97]:
df.drop(['neo'], axis=1, inplace=True)

In [98]:
df.to_csv('Final_datasets/ak_sbdb_query_results.csv', index=False)

#### Final Preprocessing

In [21]:
df = pd.read_csv('datasets/bb_Future_Asteroids.csv', engine='pyarrow')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1177 entries, 0 to 1176
Data columns (total 10 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Object                                                     1177 non-null   object
 1   Close-Approach (CA) Date (TDB)YYYY-mmm-DD HH:MM ± D_HH:MM  1177 non-null   object
 2   CA DistanceNominal(LD/AU)                                  1177 non-null   object
 3   CA DistanceMinimum(LD/AU)                                  1177 non-null   object
 4   Vrelative(km/s)                                            1177 non-null   float64
 5   Vinfinity(km/s)                                            1177 non-null   float64
 6   Nsigma                                                     1177 non-null   float64
 7   H(mag)                                                     1176 non-null   float64
 8   ref                                                        1177 non-null   int64
 9   class                                                      1177 non-null   object
dtypes: float64(4), int64(1), object(5)
memory usage: 92.1+ KB

In [23]:
print(df['class'].value_counts())

class
NEA    1177
Name: count, dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32145 entries, 0 to 32144
Data columns (total 52 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   spkid           32145 non-null  int64
 1   full_name       32145 non-null  object
 2   pdes            32145 non-null  object
 3   name            32145 non-null  object
 4   prefix          32145 non-null  object
 5   sats            32145 non-null  int64
 6   H               32145 non-null  float64
 7   extent          32145 non-null  object
 8   spec_B          32145 non-null  object
 9   spec_T          32145 non-null  object
 10  orbit_id        32145 non-null  object
 11  epoch           32145 non-null  float64
 12  epoch_mjd       32145 non-null  int64
 13  epoch_cal       32145 non-null  object
 14  equinox         32145 non-null  object
 15  e               32145 non-null  float64
 16  a               32145 non-null  float64
 17  q               32145 non-null  float64
 18  i               32145 non-null  float64
 19  om              32145 non-null  float64
 20  w               32145 non-null  float64
 21  ma              32145 non-null  float64
 22  ad              32145 non-null  float64
 23  n               32145 non-null  float64
 24  tp              32145 non-null  float64
 25  tp_cal          32145 non-null  object
 26  per             32145 non-null  float64
 27  per_y           32145 non-null  float64
 28  moid            32145 non-null  float64
 29  moid_ld         32145 non-null  float64
 30  moid_jup        32145 non-null  float64
 31  t_jup           32145 non-null  float64
 32  sigma_e         32145 non-null  float64
 33  sigma_a         32145 non-null  float64
 34  sigma_q         32145 non-null  float64
 35  sigma_i         32145 non-null  float64
 36  sigma_om        32145 non-null  float64
 37  sigma_w         32145 non-null  float64
 38  sigma_ma        32145 non-null  float64
 39  sigma_ad        32145 non-null  float64
 40  sigma_n         32145 non-null  float64
 41  sigma_tp        32145 non-null  float64
 42  sigma_per       32145 non-null  float64
 43  class           32145 non-null  object
 44  producer        32145 non-null  object
 45  data_arc        32145 non-null  float64
 46  first_obs       32145 non-null  object
 47  last_obs        32145 non-null  object
 48  n_obs_used      32145 non-null  int64
 49  condition_code  32145 non-null  float64
 50  rms             32145 non-null  float64
 51  pha             32145 non-null  int64
dtypes: float64(32), int64(5), object(15)
memory usage: 12.8+ MB